@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

:root {
    --color-white: #FFFFFF;
    --color-black: #1F2937;
    --color-hero-text: #F9FAF8;
    --color-hero-secondary-text: #E5E7EB;
    --color-button: #3882F6;
    --color-header-text: #1F2937;
    --color-quote-background: #E5E7EB;
    --color-quote-text: #1F2937;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

a { color: var(--color-hero-text); padding: 15px; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.main {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    background-color: var(--color-black);
    color: var(--color-hero-text);
    align-items: center;
}

.navbar-text {
    margin-right: auto;
    padding-left: 15rem;
}

.navbar-links {
    display: flex;
    padding-right: 100px;
}

.hero {
    display: flex;
    background-color: var(--color-black);
    color: var(--color-hero-text);
    padding: 100px 0 0 15rem;
    align-items: center;
    justify-content: flex-start;
}

.hero-text-div {
    flex-basis: 25rem;
}

.hero-image {
    margin-left: 15rem;
    margin-bottom: 7.5rem;
    scale: 0.75;
}

.hero-sign-up-button {
    background-color: var(--color-button);
    color: var(--color-hero-text);
    border: none;
    border-radius: 8px;
    width: 8rem;
    height: 2rem;
    transition: 0.25s;
    margin-bottom: 10rem;
}

.hero-sign-up-button:hover {
    scale: 1.1;
}

.gallery {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-white);
    color: var(--color-header-text);
    padding-bottom: 15rem;
}

.gallery-header-text {
    padding-bottom: 5rem;
}

.gallery-images {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.gallery-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 8px solid var(--color-button);
    border-radius: 16px;
}

.gallery-text {
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: var(--color-quote-background);
    color: var(--color-quote-text);
    padding-bottom: 3rem;
}

.quote-main-text {
    font-style: italic;
    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;
}

.quote-author-text {
    font-style: bold;
    font-size: 20px;
    text-align: right;
    padding-right: 20rem;
}

.sign-up {
    display: flex;
    align-items: center;
    background-color: var(--color-button);
    border-radius: 8px;
    margin: 200px 250px;
    padding: 25px;
}

.sign-up-text {
    color: var(--color-white);
    flex: 2;
}

.sign-up-text h3, .sign-up-text p {
    margin-left: 10rem;
}

.sign-up-text p {
    font-weight: 400;
}

.sign-up-button {
    flex: 1;
}

.sign-up-button button {
    background-color: var(--color-button);
    color: var(--color-white);
    border-radius: 8px;
    padding: 10px 50px;
}

.footer {
    background-color: var(--color-black);
    color: var(--color-hero-text);
    font-size: 20px;
    text-align: center;
}